<!DOCTYPE html>
<html>
  <head>
    <title>AttendancesController</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="nav">
        <ul>
            <% if logged_in? %>
            <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete, turbo_confirm: " 本当にログアウトしますか？"} %></li>
            <% else %>
            <li><%= link_to "ログイン", login_path %></li>
            <li><%= link_to "新規登録", signup_path %></li>
            <% end %>
        </ul>
    </nav>

    <!--presentは存在チェック-->
    <!--配列の場合-->
    <% if flash[:errors].present? %>
        <% flash[:errors].each do |message| %>
            <p class="errors"><%= message %></p>
        <% end %>
    <% end %>
    <!--配列でない場合-->
    <% if flash[:notice].present? %>
            <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <!---->
    <% if flash[:alert].present? %>
            <p class="notice"><%= flash[:alert] %></p>
    <% end %>
    <!---->
    <% if flash.now[:error].present? %>
            <p class="notice"><%= flash.now[:error] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
